{% extends 'base.html' %}

{% block content %}

<div class="quiz-container">
    <h2>{{ quiz.name }}</h2>
    <form method="POST" action="{% url 'submit_quiz' quiz.id %}">
        {% csrf_token %}

        {% for question in questions %}
        <div class="question">
            <h4>Q{{ forloop.counter }}: {{ question.text }}</h4>
            {% for option in question.options.all %}
            <div>
                <input type="radio" name="question_{{ question.id }}" value="{{ option.id }}" required>
                <label>{{ option.text }}</label>
            </div>
            {% endfor %}
        </div>
        {% endfor %}

        <button type="submit" class="submit-btn">Submit Quiz</button>
    </form>
</div




{% endblock %}